.valores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px; /* Espaciado para que no quede pegado al borde */
  font-family: 'Open Sans', sans-serif;
  color: #353535; /* Color de texto que ya usas en los enlaces */
  line-height: 1.6; /* Espaciado entre líneas para mejor lectura */
}

body{
  display: block;
  margin: 0px;
}

.main-content-wrapper {
  background-color: #f1e0c6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.main-content-box {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #353535;
  line-height: 1.6;
}

.main-content-box h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #6d4c41;
}

.main-content-box p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.maps{
  width: 750px;
  height: 450px;
  padding-top: 30px;
  }


/*---formulario---*/

  section.two-column-section.form {
    background-color:  #d8f0b7ca;
    padding: 5rem 0;  /* Reducido el padding para hacerlo más compacto */
  }
  
  .wrap-form {
    max-width: 500px;  /* Tamaño más pequeño para el formulario */
    margin: 0 auto;
    padding: 1.5rem;  /* Menos padding */
    background-color: #a9cf6e;
    border-radius: 5px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;  /* Menos espacio entre los campos */
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-item label {
    font-size: 1rem;  /* Un tamaño de fuente más pequeño */
    color: #333;
  }
  
  .form-item input,
  .form-item textarea {
    padding: 0.8rem;  /* Reducido el padding */
    font-size: 0.9rem;  /* Tamaño de fuente más pequeño */
    border: 1.5px solid #ccc;
    border-radius: 8px;
    width: 100%;  /* Aseguramos que los cuadros llenen el 100% del contenedor */
    box-sizing: border-box;  /* Para incluir el padding en el ancho total */
  }
  
  .form-item input:focus,
  .form-item textarea:focus {
    border-color: var(--main-c);
    outline: none;
  }
  
  .form-item textarea {
    min-height: 140px;  /* Ajustamos la altura del textarea para que se vea más proporcionado */
    resize: none;
  }
  
  .btn-enviar {
    padding: 0.8rem 1.5rem;  /* Botón más pequeño */
    background-color: #7aad3e;
    color: #0c0c0c;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-enviar:hover {
    background-color: darken(var(--main-c), 10%);
  }

  h2{
    text-align: center;
  }