

/*---valores del texto---*/

.valores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px; /* Espaciado para que no quede pegado al borde */
  font-family: 'Open Sans', sans-serif;
  color: #353535; /* Color de texto que ya usas en los enlaces */
  line-height: 1.6; /* Espaciado entre líneas para mejor lectura */
}

.main-content-wrapper {
  background-color: #f1e0c6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.main-content-box {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #353535;
  line-height: 1.6;
}

.main-content-box h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #6d4c41;
}

.main-content-box p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}


