:root{
  --main-c: #7aad3e; 
  --border-r:.2rem;
}

body{
  display: block;
  margin: 0px;
}

/* Estilo de la sección del equipo */
.equipo-container {
  padding-top: 100px; /* espacio para que no choque con el header */
  background-color: 0px 6px 12px rgb(189, 215, 160);;
  text-align: center;
  color: var(--text-c);
  margin-bottom: 20px; /* Espacio entre el equipo y el footer */
}

.equipo-container h1 {
  font-size: 2.5rem;
  color: #6d4c41;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.equipo-wrapper {
  display: flex;
  justify-content: center;
}

.equipo {
  background-color: var(--secondary-c);
  padding: 50px 20px;
  border-radius: var(--border-r);
  width: 55%; /* Ajustamos el ancho al 80% */
  display: flex;
  justify-content: center;
  gap: 30px;
}

.miembro {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-r);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.miembro img {
  width: 200px; /* Ajustamos el ancho de las imágenes */
  height: 200px; /* Ajustamos la altura de las imágenes */
  object-fit: cover; /* Aseguramos que las imágenes se ajusten al tamaño sin distorsionarse */
  border-radius: var(--border-r);
}

.miembro h2 {
  margin: 15px 0 5px;
  font-size: 1.5rem;
  color: var(--main-c);
}

.miembro p {
  color: var();
  font-size: 1rem;
}

.miembro:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

