:root {
  --main-c: #7aad3e; 
  --secondary-c: #f1e0c6;
  --text-c: #6d4c41;
  --hover-c: #a67b5b;
  --border-r: 1.5rem;
}

body {
  background-color: #d4eeac;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Estilos del encabezado */
header {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: var(--secondary-c);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo img {
  background-color: var(--secondary-c);
  height: 81px;
  display: block;
  margin-left: 10px;
}

.navegacion {
  margin-left: auto;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navegacion ul li a {
  text-decoration: none;
  color: var(--text-c);
  font-size: 18px;
  transition: color 0.3s;
  padding: 0 15px;
}

.navegacion ul li a:hover {
  color: var(--hover-c);
}

/* Estilo de la sección del equipo */
.equipo-container {
  padding-top: 100px; /* espacio para que no choque con el header */
  background-color: #d4eeac;
  text-align: center;
  color: var(--text-c);
}

.equipo-container h1 {
  font-size: 2.5rem;
  color: #6d4c41;
  margin-bottom: 80px;
}

.equipo-wrapper {
  display: flex;
  justify-content: center;
}

.equipo {
  background-color: var(--secondary-c);
  padding: 50px 20px;
  border-radius: var(--border-r);
  width: 55%; /* Ajustamos el ancho al 80% */
  display: flex;
  justify-content: center;
  gap: 30px;
}

.miembro {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-r);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.miembro img {
  width: 200px; /* Ajustamos el ancho de las imágenes */
  height: 200px; /* Ajustamos la altura de las imágenes */
  object-fit: cover; /* Aseguramos que las imágenes se ajusten al tamaño sin distorsionarse */
  border-radius: var(--border-r);
}

.miembro h2 {
  margin: 15px 0 5px;
  font-size: 1.5rem;
  color: var(--main-c);
}

.miembro p {
  color: var(--text-c);
  font-size: 1rem;
}

.miembro:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
