:root {
  --main-c: #7aad3e;
  --border-r: 0.2rem;
  --beige: #f1e0c6;
  --white: #ffffff;
}

.valores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  font-family: 'Open Sans', sans-serif;
  color: #6d4c41;
  line-height: 1.6;
}

.pregunta {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: var(--border-r);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pregunta:nth-child(odd) {
  background-color: var(--beige);
}

.pregunta:nth-child(even) {
  background-color: var(--white);
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--main-c);
}

p {
  font-size: 1em;
  margin: 0;
  font-weight: bold;
}