html, body {
  height: 100%; /* Asegura que html y body ocupen toda la altura */
  margin: 0; /* Elimina márgenes predeterminados */
}

body {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
}


.servicios-section {
  flex: 1; /* Permite que la sección principal ocupe el espacio restante */
  padding: 60px 20px;
  text-align: center;
}

.wrap-title-section h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
  font-weight: bold;
}

.wrap-servicios-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 0 20px;
}

.wrap-servicios-section a {
  background-color: var(--white);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
}

.wrap-servicios-section a:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.wrap-servicios-section img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.wrap-servicios-section h2 {
  font-size: 1.3em;
  color: var(--main-green);
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.wrap-servicios-section .content {
  padding: 20px;
  background-color: var(--soft-beige);
  color: var(--text-dark);
  border-radius: var(--border-radius);
  margin-top: 10px;
  font-size: 1.1em;
  height: 100%;
}

/* Checkbox oculto */
.accordion-label {
  display: block;
  background-color: var(--soft-beige);
  padding: 15px;
  cursor: pointer;
  text-align: left;
  font-size: 1.1em;
  transition: background-color 0.3s;
  border-radius: var(--border-radius);
}

.accordion-label:hover {
  background-color: var(--main-green);
  color: var(--white);
}

.accordion-input {
  display: none;
}

.accordion-input:checked + .accordion-label {
  background-color: var(--main-green);
  color: var(--white);
}

.accordion-input:checked + .accordion-label + .panel {
  max-height: 500px;
  padding: 15px;
  transition: max-height 0.3s ease-out;
}

.panel {
  display: block;
  overflow: hidden;
  background-color: var(--soft-beige);
  padding: 0 15px;
  text-align: justify;
  font-size: 1em;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

